<div class="row">
  <div class="col-md-12">
    <h1>Как происходит расчет стоимости ОСАГО</h1>
    <hr />

    <p>
      За основу всегда берется так называемая базовая тарифная ставка. Для каждого вида транспортных средств, включая прицепы, она своя. На базовую ставку также влияет и то, принадлежит это транспортное средство физическому лицу, либо юридическому. Для легкового автомобиля категории «В», владельцем которого является физическое лицо, базовая тарифная ставка будет 1980 рублей. Если же это транспортное средство используется в качестве такси, то ставка будет уже 2965 рублей. Такая большая разница в базовой ставке вполне оправдана, автомобили, используемые как такси, чаще попадают в ДТП. Стоит заострить внимание на том, что ни в коем случае не стоит прибегать к обману страховой компании – не заявлять свой автомобиль как такси, если он будет использоваться для этого. Здесь вы, может быть, и сэкономите на страховке ОСАГО, но если в случае страхового события вскроется факт обмана – в лучшем случае Вам откажут в выплате. В худшем случае страховая компания признает договор недействительным, и расторгнет договор в одностороннем порядке без возврата денежных средств. Рисковать в этом случае не стоит. Со всеми тарифами можно ознакомиться в таблице базовых страховых тарифов (Тб).
    </p>
    <p>
      Первый коэффициент, который нам понадобится для вычислений – это коэффициент территории. Он необходим для определения территории преимущественного использования автомобиля. Для физических лиц этот коэффициент определяется по месту жительства собственника ТС. Каждому городу или населенному пункту присвоен свой коэффициент, например, для Москвы он равен 2, для Московской области 1,7, а для Екатеринбурга 1,8 и Свердловской области - 1,0 и так далее. Узнать какой коэффициент, установлен для того места, где вы проживаете можно в таблице коэффициентов территории.
    </p>
    <p>
      Следующее с чем необходимо определиться для расчета стоимости страховки – это количество водителей, которые будут управлять данным автомобилем. Здесь существует два варианта: первый – список водителей строго определён, и второе – количество водителей неограниченно по количеству. За это отвечает коэффициент с длинным названием – "коэффициент, зависящий от наличия сведений о количестве лиц, допущенных к управлению ТС". В первом случае, когда количество водителей ограничено, берется коэффициент 1,0, а когда ограничения по количеству водителей нет – применяется коэффициент 1,8.
    </p>
    <p>
      Коэффициент, зависящий от возраста и стажа водителей, тесно связан с предыдущим. Этот коэффициент определяется по возрасту и стажу водителей, допущенных к управлению. Если вы страхуетесь без ограничения по количеству водителей – то этот коэффициент равен 1. В расчете используется два барьера: по возрасту - 22 года; и по водительскому стажу - 3 года. Если возраст водителя определить довольно легко то, как определить водительский стаж? Надо ли считать, сколько реально вы провели за рулём? На самом деле все просто - водительский стаж определяется по дате выдачи водительского удостоверения. Если права вы получили три года назад, то ваш стаж считается 3 года. Существует четыре варианта этого коэффициента:
    </p>
    <ul>
      <li>
        Возраст водителя до 22 лет включительно, стаж до 3 лет включительно, тогда берется коэффициент 1,8
      </li>
      <li>
        Возраст до 22 лет включительно, стаж свыше 3 лет – коэффициент 1,6
      </li>
      <li>
        Возраст старше 22 лет стаж до 3 лет включительно – коэффициент 1,7
      </li>
      <li>
        Возраст старше 22 лет стаж свыше 3 лет – коэффициент 1,0
      </li>
    </ul>
    <p>
      В случае когда допущено несколько человек, удовлетворяющим разным требованиям, то всегда берется максимальный коэффициент из всех водителей, допущенных к управлению ТС.
    </p>
    <p>
      Далее идёт коэффициент, зависящий от мощности двигателя автомобиля. Чем больше мощность, тем выше коэффициент. Мощность двигателя рассчитывается в лошадиных силах (л.с.) или в киловаттах (кВт). Узнать мощность двигателя можно также либо в ПТС, либо в свидетельстве о регистрации ТС. Если у вас есть только данные в киловаттах, то для того чтобы получить лошадиные силы, надо воспользоваться формулой: 1 л.с. = 1,36 × кВт. Распределение коэффициентов по мощности выглядит следующим образом:
    </p>
    <ul>
      <li>
        До 50 л.с. включительно - 0,6
      </li>
      <li>
        от 51 до 70 включительно - 1,0
      </li>
      <li>
        от 71 до 100 включительно - 1,1
      </li>
      <li>
        от 101 до 120 включительно - 1,2
      </li>
      <li>
        от 121 до 150 включительно - 1,4
      </li>
      <li>
        от 151 - 1,6
      </li>
    </ul>
    <p>
      Для упрощения подсчетов считаем, что договор страхования заключается на один год. В итоге, для того чтобы рассчитать ОСАГО, надо перемножить следующие ставки и коэффициенты: базовый тариф (Тб) умножаем на коэффициент территории (Кт), затем на коэффициент, зависящий от количества водителей (Ко), допущенных к управлению, далее применяем при необходимости, коэффициент стажа и возраста водителей (Квс). Умножаем на коэффициент мощности двигателя (Км). Формула выглядит следующим образом:
    </p>

    <p class="text-centered">
      <i>Стоимость ОСАГО = Тб × Кт × Ко × Квс × Км</i>
    </p>

    <p>
      Источник данной статьи - сайт <a href="http://www.4sure.ru/">4sure</a>
    </p>
  </div>
</div>
