<div class="row">
  <div class="col-md-12">
    <div class='breadcrumbs'>
      <ul>
        <li class='active'><%= link_to 'Выбор типа страхования', root_path %></li>
        <li>Расчет</li>
        <li>Выписка</li>
      <ul>
    </div>
    <hr />
  </div>
<div>

<div class="row">
  <div class="col-md-3">
    <%= link_to 'Расчет стоимости ОСАГО', new_osago_calculator_path, class: 'btn btn-lg btn-primary' %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Расчет стоимости КАСКО', new_kasko_calculator_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
