<div class="row">
  <div class="col-md-8">
    <div class='breadcrumbs'>
      <ul>
        <li class='active'><%= link_to 'Выбор типа страхования', root_path %></li>
        <li>Рассчет</li>
        <li>Выписка</li>
      <ul>
    </div>
    <hr />

    <ul>
      <li>
        <%= link_to 'Осаго', new_osago_calculator_path %>
      </li>
    </ul>

  </div>
<div>
