.white-background {
  background-color: #fff;
}

.main-content {
  margin-top: 50px
}

.text-centered {
  text-align: center;
}

.footer {
  padding-top: 20px;
  clear: both
}

.breadcrumbs ul li {
  display: inline-block;
  margin-left: -25px;
  margin-right: 45px;
  font-size: 1.4em;
}

.breadcrumbs ul li.active {
  font-size: 2.7em;
}

.breadcrumbs ul li a {
  color: #000;
}
