<!DOCTYPE html>
<html>
<head>
  <title>Калькулятор ОСАГО</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-fixed-top white-background" role="navigation">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Калькулятор</a>
                </li>
                <li>
                    <a href="/coefficients">Коэффициенты</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <div class="container main-content">
    <%= yield %>
  </div>

</body>
</html>
